body {
    font-family: 'Nunito', sans-serif;
}

.bg-brand {
    background-color:#313f49;
}

.bg-brand-green {
    background-color:#99b83c;
}

.container {
    max-width: 960px;
  }
  
  
  
  .site-header {
    background-color:#313f49;
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  .site-header .brand {
      max-height: 50px;
      width: auto;
  }

  .site-header .email {
      color: white;
      font-size: 1.7rem;
      font-weight: 300;
      padding: .5rem 0;
  }
  
  .site-header .slogan {
      color: white;
      font-size: 1.7rem;
      font-weight: 600;
      padding: .5rem 0;
  }

  @media (max-width: 768px) {
    .site-header .brand {
        max-height: 80px;
        width: auto;
    }

    .site-header .slogan {
        color: white;
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem 0;
        line-height: 3rem;
    }
  }
  

  .main-banner {
      background-image: url(../img/head-bg-2.jpg);
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
  }

  .main-banner h1 {
      color: white;
      text-shadow: 2px 2px 8px #000;
  }

  .main-banner .texto {
      background-color: rgba(49, 63, 73, 0.7);
      padding: .5em 1em;
      border-radius: 1em;
      margin-top: 1em;
      color: white;
  }
  
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }

.screen {
  width: 90%; 
  height: 300px; 
  border-radius: 21px 21px 0 0;
}

@media (max-width: 768px) {
  .screen {
    width: 80%; 
    height: auto; 
    border-radius: 21px 21px 0 0;
  }
}


.clientes {}
.clientes .lista a {
  padding: 0 .5rem;
  margin: 0 .5rem;
}
.clientes .lista a img {
  height: 60px;
  width: auto;
  max-width: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all .5s;
}
.clientes .lista a:hover img {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}